.sheet-add-shortcut {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    @media print {
        display: none;
    }
    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    svg {
        font-size: 20px;
        margin-left: 8px;
    }
}
