.sheet-add-shortcut {
    position: absolute;
    display: flex;
    align-items: center;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    svg {
        font-size: 32px;
        margin-left: 8px;
    }
}
