.sheet-edit-title {
    margin-bottom: 12px;
    &-button {
        padding-bottom: 24px;
        display: inline-block;
    }
    input[type="text"] {
        max-width: 250px;
        margin-right: 8px;
    }
}
