.sheet-actions {
    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .button {
        margin-right: 8px;
    }
    @media print {
        display: none;
    }
}
