.sheet-item {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
    font-size: 18px;
    line-height: 32px;

    &:hover {
        .button {
            display: inline;
            @media print {
                display: none;
            }
        }
    }
}

.button {
    display: none;
    margin-left: 9px;
    &:first-child {
        margin-left: 16px;
    }
}
