.sheet {
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    @media print {
        padding: 0;
    }
    &-content {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        min-height: 250px;
        border-radius: 8px;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.3);
        @media print {
            min-height: unset;
            padding: 0;
            margin-bottom: 32px;
        }
    }
}
