.key-stroke-form {
    min-width: 420px;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 20px;
    padding: 24px 8px 24px 16px;
    @media print {
        display: none;
    }
    input[type="text"] {
        margin-bottom: 10px;
    }
    .button {
        display: inline;
    }

    &-error {
        margin-top: 16px;
        color: #e16f6f;
    }
}
