.app {
    width: 100%;
    min-height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #1e646e, #118577, #52a468, #a1bb4f, #fec748);
    &-add-sheet {
        position: absolute;
        top: 62px;
        right: 16px;
        display: flex;
        align-items: center;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.6);
        .react-icons {
            margin-left: 8px;
            font-size: 32px;
        }
        @media print {
            display: none;
        }
    }

    &-sheets {
        margin-top: 48px;
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    > .edit-title {
        position: absolute;
        top: 60px;
        left: 16px;
        height: 48px;
        margin-bottom: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        @media print {
            position: unset;
        }
        .edit-title-button {
            font-size: 32px;
        }
    }
}

// GLOBAL STYLES
input[type="text"] {
    height: 36px;
    padding: 4px 8px;
}
