.menu {
    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .navbar-item.import {
        &:hover {
            background-color: whitesmoke;
            cursor: pointer;
        }
    }

    @media print {
        display: none;
    }
}
