.edit-title {
    margin-bottom: 12px;

    &-button {
        display: inline-block;
        font-size: 24px;
        display: inline-flex;
        align-items: center;
        color: white;
        text-decoration: underline;
        .react-icons {
            margin-left: 16px;
        }
    }
    &-form {
        display: none;
        input[type="text"] {
            max-width: 250px;
            margin-right: 8px;
        }
    }

    &.editing {
        .edit-title-button {
            display: none;
        }
        .edit-title-form {
            display: flex;
        }
    }

    @media print {
        &.editing,
        & {
            .edit-title-button {
                display: inline;
            }
            .edit-title-form {
                display: none;
            }
        }
    }
}
